.play .icon-play {
    display: none;
}

.play:hover .icon-play {
    display: block;
    opacity: 1;
}

.fa {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

.play{
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(34,34,34,.5);
    margin: 0 0 15px 15px;
}

.play, .link-a{
    transition: all .1s linear;
}

.play .fa-play-circle-o{
    color: hsla(0,0%,100%,.7);
    font-size: 80px;
    left: 50%;
    margin-left: -35px;
    margin-top: -40px;
    top: 50%;
    position: absolute;
}

.link-a:hover .play {
    visibility: visible;
}
