.card-container {
    width: 290px;
    height: 163px;
    display: table;
}

img {
    border: 0;
    vertical-align: middle;
}

.img-card {
    display: block !important;
}

.play .icon-play {
    display: none;
}

.play:hover .icon-play {
    display: block;
}

.play:hover .icon-play:hover {
    display: block;
    opacity: 1;
}

.play:hover {
    opacity: 1;
}

.fa {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

.play{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 292px;
    height: 163px;
    background-color: rgba(34,34,34,.5);
    margin: 0 0 15px 15px;
}

.play .fa-play-circle-o{
    color: hsla(0,0%,100%,.7);
    font-size: 80px;
    left: 50%;
    margin-left: -35px;
    margin-top: -40px;
    top: 50%;
    position: absolute;
}

a:hover .play {
    visibility: visible;
}
